.Question {
    height: 40%;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content:center;
    align-items:center;

    -webkit-box-shadow: 0 10px 6px -6px rgb(167, 167, 167);
    -moz-box-shadow: 0 10px 6px -6px rgb(167, 167, 167);
    box-shadow: 0 10px 6px -6px rgb(167, 167, 167);
}
.Question p {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    color: rgb(20, 20, 20);
    margin: 0 50px;
}